 */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
}

/* Hilangkan warna hitam pada container */
.container {
  background-color: transparent !important;
}

/* Pastikan item berita tidak hitam */
.collection-item {
  background-color: #fff !important; /* putih */
  color: #000 !important;            /* teks hitam */
}

#berita {
  background-color: transparent !important;
}

.navbar {
  margin-bottom: 0; 
}

.progress {
  margin: 0; 
}

.section.berita {
  padding-top: 20px; 
}

#berita h4 {
  margin-top: 10px; 
}




