/* ROOT & GLOBAL */
:root {
  --primary: #b6895b;
  --bg: #242323;
}

html {
  font-family: 'poppins', sans-serif;
}

/* Font Berita */
#berita h4.light.grey-text.text-darken-3 {
  position: center;
  margin-top: 0;
  margin-bottom: 20;  
}

#berita h6 {
  font-weight: 600;
}

#berita h5 {
  margin: 5px 0 8px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}

#berita p {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0 0 8px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}

.navbar-brand img {
  vertical-align: middle;
  margin: auto 0;
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-top: 20px;
}

.switch-mobile {
margin-left: 2px;
margin-top: 25px;
}

#berita {
margin-top: 80px;
}

/* Card horizontal */
.card.horizontal {
  display: flex;            
  align-items: center;      
  overflow: hidden;         
  max-height: 130px;        
  width: 100%;              
}

/* Bagian gambar */
.card.horizontal .card-image {
  padding: 8px;
  display: flex;
  align-items: center;
  max-height: 100%;
}

.card.horizontal .card-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

/* Bagian teks */
.card.horizontal .card-stacked {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  flex: 1;
  font-size: 1rem;
}

/* Bagian action */
.card.horizontal .card-action {
  border-top: none;   
  margin: 0;
  padding: 0;
}

/* Konten & action seragam */
.card.horizontal .card-content,
.card.horizontal .card-action {
  padding: 4px 4px;
}

/* btn Hero */
#btn-hero {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap; /* supaya responsif di HP */
  align-items: center;
}

#btn-hero .btn-small,
#btn-hero .likeBtn {
  margin: 0;
}

/* Mobile */
@media (max-width: 600px) {
  .card.horizontal .card-image img {
    max-height: 65px;
    max-width: 100%;
  }

#berita p {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0 0 8px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

  .card-action,
  .card-content {
    font-size: 12px;
    line-height: 1.5;
  }
}

/* Desktop besar */
@media (min-width: 1200px) {
  .card.horizontal .card-image img {
    max-height: 85px;
    max-width: 100%;
  }
}

/* Cuplikan Kalimat */
.quote {
  text-align: justify;
  background-color: rgba(128, 128, 128, 0.2); 
  padding: 5px 15px;
  border-radius: 5px;
  font-style: italic;
  font-size: 16px;
  display: inline-block; 
  margin-top: 1px;     
  margin-bottom: 1px;
}

.quote::before {
  content: "❝";        
  font-size: 50px;
  color: rgb(84, 84, 84);
  margin-right: 8px;
}

.quote::after {
  content: "❞";        
  font-size: 50px;
  color: rgb(84, 84, 84);
  margin-left: 8px;
}


