/* Bottom Icons Start */
#icons {
  position: fixed;       /* tetap di layar meski di-scroll */
  bottom: 95px;         /* jarak dari bawah */
  right: 20px;           /* jarak dari kanan */
  z-index: 9999;         /* pastikan di atas elemen lain */
}

#icons img {
  width: 80px;           /* ukuran default */
  height: auto;          /* proporsional */
  animation: pulse 2s infinite; /* tambahkan animasi pulse */
}

#icons.btn-floating {
  width: 80px;   /* default btn-large biasanya 56px */
  height: 80px;
  line-height: 80px;
}

#icons.btn-floating i {
  font-size: 36px;
}

/* Responsif untuk layar mobile */
@media (max-width: 600px) {
  #icons {
    bottom: 70px;        /* lebih dekat ke footer */
    right: 15px;         /* lebih rapat ke tepi */
  }

  #icons img {
    width: 60px;         /* perkecil ikon */
  }

  #icons.btn-floating {
    width: 60px;         /* perkecil tombol */
    height: 60px;
    line-height: 60px;
  }

  #icons.btn-floating i {
    font-size: 24px;     /* perkecil ikon di dalam tombol */
  }
}

#close{
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;      /* lebih kecil dari 30px */
  height: 20px;     /* lebih kecil dari 30px */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #5c5f5c; /* opsional: beri warna */
  color: #fff;
  text-align: center;
}
/* Bottom Icons End */