/* Bottom Icons Start */
#icons {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 9999;
}

#icons img {
  width: 90px;
  height: auto;
  animation: pulse 2s infinite;
}

#icons.btn-floating {
  width: 80px;
  height: 80px;
  line-height: 80px;
}

#icons.btn-floating i {
  font-size: 36px;
}

/* Responsif untuk layar mobile */
@media (max-width: 600px) {
  #icons {
    bottom: 70px;
    right: 15px;
  }

  #icons img {
    width: 60px; /* perkecil ikon */
  }

  #icons.btn-floating {
    width: 60px; /* perkecil tombol */
    height: 60px;
    line-height: 60px;
  }

  #icons.btn-floating i {
    font-size: 24px; /* perkecil ikon di dalam tombol */
  }
}

#close {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px; /* lebih kecil dari 30px */
  height: 20px; /* lebih kecil dari 30px */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #5c5f5c; /* opsional: beri warna */
  color: #fff;
  text-align: center;
}
/* Bottom Icons End */
