:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(248, 248, 248) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}

/* Preview Box */
.products-preview .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: var(--fefefe);
}

.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: left;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 80%;
  animation: animatePreview 0.5s;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1%;
  overflow-y: auto;
  max-height: 95vh;
}

.products-preview img {
  weight: 15rem;
  height: 15rem;
  margin-right: 2rem;
  margim-bottom: 2rem;
  broder-radius: 5%;
}

/* Preview Animation */
@keyframes animatePreview {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview .fa-times {
  position: fixed;
  top: 2.5rem;
  right: 10rem;
  margin: 5px;
  cursor: pointer;
  color: #444;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg1);
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.3);
}

@media (max-width: 768px) {
  .products-preview .preview .fa-times {
    position: fixed;
    top: 2.5rem;
    right: 8rem;
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .products-preview .preview .fa-times {
    position: fixed;
    top: 2.5rem;
    right: 4.5rem;
    margin: 3px;
  }
}

.products-preview .preview .fa-times {
  transition: transform 0.5s ease-in-out;
}

.products-preview .preview .fa-times:hover {
  background-color: var(--primary);
  color: #000;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.products-preview .preview p {
  line-height: 1.2rem;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #444;
  font-weight: normal;
}

.products-preview .preview h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .products-preview .preview {
    flex-direction: column;
  }

  .products-preview .preview img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

/* Box Media Sosial Star */
.services1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.service1 {
  background-color: #333;
  padding: 2px;
  text-align: center;
  border: 1px solid var(--bg);
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
}

.service1 a {
  display: block;
  font-size: 1.2em;
  color: var(--bg1);
  text-decoration: none;
  text-align: center;
  padding: 0.5px;
}

.service1 a:hover {
  color: #fff;
}

.service1 p {
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  color: #fff;
}
/* Box Media Sosial End */

@media (max-width: 768px) {
  html {
    .preview-content {
      flex-wrap: wrap;
    }
  }
}
