:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(248, 248, 248) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Box News Star */
.container-box {
  width: 100% auto;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background-image: radial-gradient(circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  padding-top: 0.5px;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  margin-top: 10px;
}

.preview-img {
  grid-column: 1;
  width: 120%;
  height: auto;
  border-radius: 2%;
  margin-top: 15px;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
}

.galleries {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 15px;
}

.gallery-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.gallery-item img {
  width: 115px;
  height: auto;
  border-radius: 3%;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
}

.gallery-item .text-box p {
  flex: 1 1 50rem;
  line-height: 1.2;
  padding: 3rem 5% 1rem;
}

@media (max-width: 900px) {
  .gallery-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .gallery-item img {
    width: 135px;
    height: auto;
  }

  .gallery-item p {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .preview-img {
    display: none;
  }

  .preview-img {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .gallery-item p {
    font-size: 1.2rem;
    white-space: normal;
  }
}

/* Item Detail */
.box {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.box-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 5% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: 80%;
  animation: animateModal1 0.5s;
}

/* Modal Animation */
@keyframes animateModal1,
@keyframes animateModal2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.box-container h3:hover {
  background-color: var(--bg1);
  color: #000;
}

.box-content {
  display: flex;
  flex-wrap: nowrap;
}

.box-content img {
  weight: 30rem;
  height: 30rem;
  margin-right: 2rem;
  margim-bottom: 2rem;
  border: 1px solid var(--bg1);
  border-radius: 5px;
}

.box-content h3 {
  font-size: 1.8rem;
}

.box-content p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.box-content h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .about .box-content {
    width: 100%;
  }

  .about .content {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .about h2 {
    font-size: 18px;
  }
  .about .content {
    font-size: 14px;
  }
}
