:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(248, 248, 248) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Box News Star */
.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
  max-width: 1200px; /* atau nilai sesuai kebutuhan */
  margin: 0 auto;
  padding: 1.4rem 3% 1.4rem;
  background-image: radial-gradient(circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
  border: 1px solid #ddd;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.view-img {
  grid-column: 1;
  width: 115%;
  height: auto;
  margin-top: 15px;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
  transition: opacity 0.5s ease-in-out;
  border-radius: 2%;
}

.photoes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.photo-item {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  cursor: pointer;
}

.photo-item img {
  width: 135px;
  height: auto;
  border-radius: 3%;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-item img:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(1, 250, 105, 0.7);
}

.text-box p {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin-top: -15px;
  padding-right: 0;
}

.photo-item a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 300px;
  text-align: left !important;
  flex: 1 1 50rem;
  line-height: 1.2;
  padding: 1rem 2% 0.5rem;
  transition: 0.3s;
  color: #fff;
}

.photo-item a:hover {
  color: var(--bg1);
}

.photo-item a:hover {
  transform: translateY(-4px);
}

.photo-item a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  color: currentColor;
  transition: width 0.3s;
}

.photo-item a:hover::after {
  width: 100%;
}

.photo-item a:hover {
  font-size: 1.05em;
}

@media (max-width: 900px) {
  .photo-item {
    display: flex;
    flex-direction: row;
  }

  .photo-item img {
    width: 100px;
    height: auto;
  }

  .photo-item a {
    text-align: left !important;
    font-size: 1.2rem;
    white-space: normal;
  }
}

@media (max-width: 768px) {
  .view-img {
    display: none;
  }

  .photo-item a {
    text-align: left !important;
    font-size: 1.2rem;
    white-space: normal;
    width: 100px;
  }
}

/* Box Continue Star... */
.continue4,
.continue3,
.continue2,
.continue1 {
  background-color: var(--bg1);
  padding: 1px 1px;
  border-radius: 10px;
  width: 55px;
  height: 20px;
  margin: 30px 0;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continue4 a,
.continue3 a,
.continue2 a,
.continue1 a {
  font-size: 12px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.Continue4:hover,
.Continue3:hover,
.Continue2:hover,
.Continue1:hover {
  background-color: var(--primary);
}
/* Box Contonue End */

/* Item Detail */
.box {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.box-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 5% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: 80%;
  animation: animateModal1 0.5s;
}

/* Modal Animation */
@keyframes animateModal1,
@keyframes animateModal2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.box-container h3:hover {
  background-color: var(--bg1);
  color: #000;
}

.box-content {
  display: flex;
  flex-wrap: nowrap;
}

.box-content img {
  weight: 30rem;
  height: 30rem;
  margin-right: 2rem;
  margim-bottom: 2rem;
  border: 1px solid var(--bg1);
  border-radius: 5px;
}

.box-content h3 {
  font-size: 1.8rem;
}

.box-content p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.box-content h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .about .box-content {
    width: 100%;
  }

  .about .content {
    width: 100%;
  }

  .continue4,
  .continue3,
  .continue2,
  .continue1 {
    width: 55%;
    line-height: 0.5; /* Atur line-height */
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .about h2 {
    font-size: 18px;
  }
  .about .content {
    font-size: 14px;
  }
}
