:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}



/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Box News */
.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 3%;
  min-height: 500px;
  border-radius: 1%;
}

.view-img {
  grid-column: 1;
  width: 115%;
  margin-top: 15px;
  height: auto;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
  border-radius: 2%;
  transition: opacity 0.5s ease-in-out;
}

.photoes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.photo-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 1 100%;
  cursor: pointer;
  text-align: left;
}

.photo-item img {
  width: 135px;
  height: auto;
  border-radius: 3%;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.photo-item img:hover {
  transform: scale(1.05);
}

.photo-item a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 350px;
  text-align: left;
  flex: 1 1 50rem;
  line-height: 1.2;
  font-size: 15px;
  color: #444;
  padding: 1rem 2% 0.5rem;
  transition: 0.3s;
}

.photo-item a:hover::after {
  width: 100%;
}

/* Continue Buttons */
.continue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg1);
  padding: 1px;
  margin: 30px 0;
  width: 55px;
  height: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.2);
  transition: background-color 0.3s;
}

.continue-btn a {
  font-size: 10px;
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
}

.fade-in-img {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

[data-aos].aos-animate.fade-in-img {
  opacity: 1;
  transform: translateY(0);
}

/* Modal Box */
.box {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.box-content {
  display: flex;
  flex-wrap: nowrap;
}

.box-content img {
  width: 30rem;
  height: 30rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.box-content h3 {
  font-size: 1.8rem;
}
.box-content p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}
.box-content h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.8rem;
}

/* Modal Animations */
@keyframes animateModal1 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateModal2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Responsive Styling */
@media (max-width: 900px) {
  .photo-item {
    flex-direction: row;
  }
  .photo-item img {
    width: 100px;
  }
  .photo-item a {
    font-size: 1.2rem;
    white-space: normal;
  }
}

@media (max-width: 768px) {
  .view-img {
    display: none;
  }
  .photo-item a {
    font-size: 1.2rem;
    white-space: normal;
    width: 100px;
  }
  .container-box {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 5%;
    max-width: 100%;
  }
  .about .box-content,
  .about .content {
    width: 100%;
  }

  .continue-btn {
    width: 60%;
    line-height: 0.5;
    text-align: center;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .container-box {
    display: block;
    padding: 1rem 5%;
    gap: 0;
    margin: 0 auto;
    max-width: 130%;
    background-image: none;
    min-height: auto;
  }
  .about h2 {
    font-size: 18px;
  }
  .about .content {
    font-size: 14px;
  }
}
