:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(248, 248, 248) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Box News Star */
/*.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}*/

.box-newss {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  width: calc(100% + 50px);
  margin-left: -30px;
  margin-right: -30px;
}

.box-news img {
  background-color: var(--bg);
  width: 100%;
  height: auto;
  padding: 10px;
  justify-items: center;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

.box-news h3 {
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
  margin-top: 5px;
}

.box-news h3 a {
  color: #000;
  transition: color 0.3s ease-in-out;
}

.box-news h3 a:hover {
  color: var(--bg1);
}

@media screen and (max-width: 768px) {
  .box-newss {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .box-newss {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Item Detail */
.box {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.box-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 5% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: 80%;
  animation: animateModal1 0.5s;
}

/* Modal Animation */
@keyframes animateModal1,
@keyframes animateModal2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.box-container h3:hover {
  background-color: var(--bg1);
  color: #000;
}

.box-content {
  display: flex;
  flex-wrap: nowrap;
}

.box-content img {
  weight: 30rem;
  height: 30rem;
  margin-right: 2rem;
  margim-bottom: 2rem;
  border: 1px solid var(--bg1);
  border-radius: 5px;
}

.box-content h3 {
  font-size: 1.8rem;
}

.box-content p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.box-content h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .about .box-content {
    width: 100%;
  }

  .about .content {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .about h2 {
    font-size: 18px;
  }
  .about .content {
    font-size: 14px;
  }
}
