:root {
  --primary: #b6895b;
  --bg: #eaeaea; /*#010101*/
  --bg1: #14ff72cb;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #000;
}

/* Popup Iklan Star */
.popup-screen {
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active {
  visibility: visible;
}

.popup-box {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-widht: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scala(0);
  transition: 0.5s ease;
  transition-property: transform;
}

.popup-screen.active .popup-box {
  transform: scala(1);
}

.popup-box img {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.popup-box h2 {
  font-size: 2.1em;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.popup-box h4 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 20px;
}

.popup-box span {
  color: var(--bg1);
}

.popup-box p {
  font-size: 1em;
  margin-bottom: 30px;
  justify-align: center;
}

.popup-box .btn {
  color: #fff;
  background: var(--bg1);
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 27px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.btn:hover {
  background-color: var(--bg1);
  color: #000;
}

.close-btn {
  position: absolute;
  font-size: 1.5em;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
  display: flex;
  background: var(--bg1);
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.close-btn {
  transition: transform 0.5s ease-in-out;
}

.close-btn:hover {
  background-color: var(--primary);
  color: #000;
}

.close-btn:hover {
  transform: rotate(90deg);
}
/* Popup Iklan End */

/* Navbar Star */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}
/* Navbar End */

/* Baca Juga Start */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.service {
  display: flex;
  background-color: #333;
  padding: 10px;
  text-align: left;
  border: 1px solid var(--bg);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0.3);
  border: 0.2px solid var(--bg1);
}

.service img {
  display: flex;
  width: 50px;
  height: 50px;
  broder-radius: 5px;
  padding: 0.5rem;
  margin-right: 20px;
  margin: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0.3);
  transform: translateX(5px);
}

.service a {
  display: block;
  color: var(--bg1);
  text-align: left;
  font-size: 12px;
  margin: 2px;
  transform: translatex(5%);
}

.service a:hover {
  color: #fff;
}

.service p {
  display: flex;
  font-weight: 100;
  color: #fff;
  margin: 0;
  padding: 0;
  transform: translatex(5%);
}

.service-card {
  position: relative;
  display: flex;
  background-color: #333;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  margin-top: 0;
  margin-right: 0;
}

.service .close-btn {
  color: #444;
  background-color: var(--bg1);
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0;
}

.service .close-btn:hover {
  color: var(--primary);
}

/* Responsive Breakpoint */
@mediav (max-widht: 1024px) {
}

@media (max-widht: 768px) {
}

@media (max-widht: 500px) {
}

/* Preview Animation */
@keyframes animateService
  from {
  top: -300px;
  opacity: 0;
}
to {
  top: 0;
  opacity: 1;
}
