:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--secondary);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #f8f8f8 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem; /* for footer spacing */
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: var(--secondary);
  transition: 0.3s ease;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Section Calender Event */
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #6aclc5, #fff;);
  display: flex;
  justify-content: flex-start; /* atau center kalau mau di tengah */
  align-items: center;
  flex-direction: column;
}

#calendar {
  width: 80%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 80px;
  box-shadow: 1px 1px 5px rgba(1, 250, 105, 0.8);
}

@media screen and (min-width: 1200px) {
  #calendar {
    top: 0px;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 0.2rem 0;
  margin-top: 5rem;
}

footer .socials {
  padding: 0.5rem 0;
}

footer .histats_counter {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.5rem;
  display: block;
  margin-bottom: 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  border-radius: 20px;
}

footer .credit a {
  color: var(--bg1);
  font-weight: 500;
}

footer .credit p {
  color: #fff;
}

/* Scroll To Top */
.buttonToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.buttonToTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: var(--bg1);
  color: #fff;
  font-family: monospace;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}

.buttonToTop a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transform: rotate(360deg);
}
