body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 20px;
}


h4 {
  text-align: center;
  margin-bottom: 8px;
  color: #333;
}

p {
    text-align: center;
    margin-top: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

#totalPrice {
  font-weight: bold;
}

th {
  background: #eee;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

table td:last-child {
  text-align: right;
}

.table-responsive {
  overflow-x: auto;   /* scroll horizontal */
  -webkit-overflow-scrolling: touch; /* smooth scroll di iOS */
}

#donationTable {
  width: 100%;
  border-collapse: collapse;
}






