:root {
  --primary: #b6895b;
  --bg: #eaeaea; /*#010101*/
  --bg1: #14ff72cb;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #000;
}

/* Style Gallery */
img {
  max-width: 100%;
  border: 1px solid var(--bg1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.container {
  padding: 50px 20px;
  align-itms: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 9999;
}

.preview-img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}

.galleries img {
  width: 110px;
  height: 110px;
  cursor: pointer;
}

/* Laptop */
@media (max-width: 1366px) {
  .preview-img {
    width: 100%;
    height: 687px;
  }
}

@media (max-width: 768px) {
  .preview-img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .galleries img {
    width: 80px;
    height: 70px;
  }
}
