:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(248, 248, 248) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Container Iklan Thumbnail Star */
.container-iklan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 62px;
  margin: 5px auto;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.container-iklan img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container-iklan {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .container-iklan {
    width: 100%;
    height: auto;
  }
}
/* Container Iklan Thumbnail End */

/* Style Gallery */
img {
  max-width: 80% auto;
  border: 1px solid var(--bg1);
  position: relative;
}

.container-product {
  padding: 50px 20px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 9999;
  margin-bottom: 20px;
}

.preview-img {
  height: 45%;
  width: 45%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.galleries img {
  width: 130px;
  height: 130px;
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

/* Laptop */
@media (max-width: 1366px) {
  .preview-img {
    width: 100%;
    height: 687px;
  }
}

@media (max-width: 768px) {
  .preview-img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .galleries img {
    width: 80px;
    height: 80px;
  }
}

/* Footer */
body {
  position: relative;
  min-height: 80vh;
  margin: 0;
  padding-bottom: 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.2;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 0.5rem 0;
}

footer .socials {
  padding: 0.5rem 0;
}

footer .histats_counter {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.5rem;
  display: block;
  margin-bottom: 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
  border-radius: 20px;
  margin-bottom: 0.2rem;
}

footer .credit a {
  color: var(--bg1);
  font-weight: 500;
}

footer .credit p {
  color: #fff;
}
