/* CONTAINER IKLAN */
.container-iklan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  padding: 62px;
  margin: 0 auto;
  background-color: #f7f7f7c2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.container-iklan img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

/* Iklan */
.ad-section {
  margin-top: 20px;
  background: transparent;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
}

.ad-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background: transparent;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
}

/* Jika iklan ada di dalam card */
.card .ad-section,
.card .ad-section img {
  background: transparent !important;
}
