:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #000;
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

/* Infografis */
.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.menu .row .menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 1rem); /* Atur lebar card */
  padding-bottom: 1rem;
  text-align: center;
}

.menu-card iframe {
  width: 100%; /* Atur lebar iframe */
  aspect-ratio: 16 / 9;
  height: auto;
  border: 1px solid var(--bg1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .menu .row .menu-card {
    width: 100%; /* Atur lebar card pada layar kecil */
  }
}

@media (max-width: 480px) {
  .menu .row {
    flex-direction: column; /* Atur flex-direction pada layar sangat kecil */
  }
}
