:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #000;
}

/* Navbar */
.navbar a {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--bg1);
  text-decoration: underline;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0rem auto;
  padding: 50px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1%;
  z-index: 9999;
  max-width: 1200px;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 15rem;
}

.menu h2 {
  font-size: 3rem;
  font-family: 800;
  margin-bottom: 10px;
}

h4 {
  position: relative;
  font-size: 10px;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.2;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 0.5rem 0;
}

footer .socials {
  padding: 0.5rem 0;
}

footer .histats_counter {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.5rem;
  display: block;
  margin-bottom: 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
  border-radius: 20px;
  margin-bottom: 0.2rem;
}

footer .credit a {
  color: var(--bg1);
  font-weight: 500;
}

footer .credit p {
  color: #fff;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .links {
  margin-bottom: 0.5rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px; /* kurangi padding untuk layar kecil */
    max-width: 95%; /* atur lebar container menjadi 100% */
  }
  body {
    padding-bottom: 5rem; /* kurangi padding bottom untuk layar kecil */
  }
}

/* Media query untuk layar handphone yang lebih kecil */
@media only screen and (max-width: 480px) {
  .container {
    padding: 10px; /* kurangi padding lagi untuk layar yang lebih kecil */
  }
}
