/* Overlay layar popup */
.popup-screen {
  position: fixed;
  inset: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay-bg);
  backdrop-filter: blur(10px);
  visibility: hidden;
  transition: visibility 0.5s ease;
}

.popup-screen.active {
  visibility: visible;
}

/* Kotak popup */
.popup-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 50px 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.popup-screen.active .popup-box {
  transform: scale(1);
}

/* Logo popup */
.popup-logo {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

/* Tombol close */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 2em;
  line-height: 30px;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 50%;
  background-color: green;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.close-btn:hover {
  background-color: green;
  color: #f8f5f5;
  transform: rotate(90deg);
  opacity: 1;
}

/* Judul & teks */
.popup-box h3 {
  margin-top: 60px;
  font-size: 1.5em;
  font-weight: 800;
  color: rgba(226, 6, 6, 0.863);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.popup-box h4 {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
  color:rgb(8, 128, 38);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.popup-box p {
  margin-bottom: 20px;
  font-size: 1em;
  text-align: center;
}

/* Tombol aksi */
.popup-box .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  margin-top: auto;
  border-radius: 10px;
  background: rgb(3, 124, 3);
  color: #fff;
  text-decoration: none;
}

.popup-box .btn:hover {
  background-color: #fff;
  color: var(--primary);
}

/* Responsive Popup */
@media (min-width: 992px) {
  .popup-box {
    height: 600px;       
    max-width: 450px;    
    padding: 40px;       
  }
}

@media (max-width: 768px) {
  .popup-box {
    max-width: 90%;
    min-height: 350px;
    padding: 30px 20px;
  }

  .popup-logo {
    width: 90px;
    top: -50px;
  }

  .popup-box h4 {
    font-size: 1em;
    line-height: 1em;
    margin-top: -5px;
  }

  .popup-box p {
    font-size: 0.9em;
  }

  .popup-box .btn {
    width: 100%;
    max-width: 90px;
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .popup-box {
    padding: 20px 15px;
    border-radius: 15px;
  }

  .popup-logo {
    width: 70px;
    top: -40px;
  }

  .popup-box h4 {
    font-size: 0.9em;
  }

  .popup-box p {
    font-size: 0.85em;
  }

  .popup-box .btn {
    font-size: 0.9em;
    padding: 8px 20px;
  }
}





