:root {
  --primary: #b6895b;
  --bg: #010101;
  --bg1: #14ff72cb;
  --secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #fff;
}

/* Struktur Organisasi */
.container {
  background-color: #222;
  margin: 1.5rem;
  padding: 50px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 9999;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}
.menu h2 {
  margin-bottom: 0.8rem;
}

.menu h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.menu h3:hover {
  color: var(--bg1);
}

.menu p {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 85%;
  border: 1px solid var(--bg1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 13rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  text-align: center;
  padding: 2rem 0;
}

footer .socials {
  padding: 1rem 0;
}

footer .histats_counter {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .links {
  margin-bottom: 0.5rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 500;
}
