* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

/* Infografis */
.infografis-wrapper img {
  width: 100%;
  max-width: 560px;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.infografis-description {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  line-height: 1.6;
}

@media screen and (max-width: 480px) {
  .infografis-wrapper iframe {
    max-width: 100%;
    height: 240px;
  }
}

/* Scroll To Top */
.buttonToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.buttonToTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: var(--bg1);
  color: #fff;
  font-family: monospace;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}

.buttonToTop a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  transform: rotate(360deg);
}




