* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Powerpoint Youtube Star */
.powerpoint {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  z-index: 9999;
  border-radius: 5%;
}

 .powerpoint-wrapper {
    display: flex;
    justify-content: center;  
    align-items: center;       
    margin: 20px 0;
  }

.powerpoint-wrapper iframe {
    max-width: 100%;          
    height: auto;             
    aspect-ratio: 16 / 9;    
    border: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  }

.description {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  line-height: 1.3;
}

@media screen and (max-width: 480px) {
  .video-wrapper iframe {
    height: 240px;
    max-width: 100%;
  }
}
