* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Powerpoint Youtube Star */
.powerpoint-wrapper {
    position: relative;
    width: 100%;
    max-width: 960px; /* batas lebar agar tidak terlalu besar */
    margin: 0 auto;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
    height: 0;
    overflow: hidden;
  }
  .powerpoint-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;   /* kotak/border */
    box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);


  }
  .description {
    margin-top: 10px;
    text-align: center;
  }

/* Tambahkan jarak antar blok PowerPoint */
  .powerpoint-block {
    margin-bottom: 2rem; /* atur sesuai kebutuhan */
  }




