/* SCROLL TO TOP BUTTON */
.buttonToTop {
  position: fixed;
  bottom: 20px;
  right: 80px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.buttonToTop:hover {
  transform: scale(1.1);
}

.buttonToTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  font-family: monospace;
  font-size: 25px;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttonToTop a:hover {
  background-color: rgb(17, 136, 17);
  color: #000;
  transform: rotate(360deg);
}