:root {
  --primary: #b6895b;
  --bg: #010101;
  --bg1: #14ff72cb;
  --secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #fff;
}

/* Baca Juga Start */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-direction: row;
  gap: 10px;
  align-items: left;
  cursor: pointer;
  margin-top: 300px;
}

.service {
  display: flex;
  background-color: #333;
  padding: 5px;
  text-align: left;
  border: 1px solid var(--bg);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0.3);
}

.service img {
  display: flex;
  width: 100px;
  height: 100px;
  broder-radius: 5px;
  padding: 0.5rem;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0.3);
}

.service a {
  display: block;
  color: var(--bg1);
  text-align: left;
  padding: 10px;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.service a:hover {
  color: #fff;
}

.service p {
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.5px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.service h4 {
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.5px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/* Responsive Breakpoint */
@mediav (max-widht: 1024px) {
}

@media (max-widht: 768px) {
}

@media (max-widht: 500px) {
}

/* Preview Animation */
@keyframes animateService
  from {
  top: -300px;
  opacity: 0;
}
to {
  top: 0;
  opacity: 1;
}
