* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.sticker {
  position: fixed;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  padding: 6px;
  border-radius: 50%;
}

.sticker img {
  display: flex;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
}
