:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Box Cart */
.archive {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
}

.archive.active {
  right: 0;
}

.archive .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.archive img {
  height: 6rem;
  border-radius: 50%;
}

.archive h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.archive .item-price {
  font-size: 1.5rem;
}

.archive.active .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.archive .remove-item:hover {
  color: var(--primary);
}

/* Display utama Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body {
  overflow-x: hidden;
}

.slider-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  isolation: isolate;
}

.slider-container .slider-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: absolute;
  transition: opacity 3000ms;
}

.slider-container .slider-item[data-show="show"] {
   opacity: 1;
}
.slider-container .slider-item[data-show="hidden"] {
  z-index: -1;
  opacity: 0;
}

.slider-container .slider-item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.5) transparent);
}

.slider-container .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.slider-container::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 25%);
}*/

.slider-item .slider-content {
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.slider-container .slider-title {
  font-size: 6rem; /** 6 x 16px */
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.slider-content .slider-description {
  width: 50ch;
  line-height: 1.5;
}

.slider-content .slider-description {
  font-size:1.5rem;
}

.slider-content .slider-description {
animation: 4s appear linear infinite alternate;
text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}


.slider-content .slider-action {
  color: red;
  border: 0.5px solid white;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase:
  letter-spacing: 4px;
  margin-top: 2rem;
  width: fit-content;
  position: relative;
  isolation: isolate;
  transition: all 500ms;
}

.slider-content .slider-action::before {
  content: '';
  background-color: white;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 0;
  transition: all 500ms;
}

.slider-content .slider-action:hover {
  color: black;
}

.slider-content .slider-action:hover::before {
  width: 100%;
}


/* Slider */
.slider {
width: 100vw;
height: 100vh 
overflow: hidden;
margin-top: 50%;
position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.slider .list .item > img {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.slider .list .item .detail {
  position: absolute;
  top: 20%;
  width: 1200px;
  max-width: 80%;
  margin: auto;
  left: 50%:
  transform: translateX(-50%)
  text-shadow: 0 5px 10px #000;
}

.slider .list .item .detail .title {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  margin-bottom: 0.6rem;
}

.slider .list .item .detail .name {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  margin-bottom: 0.8rem;
  background: linear-gradient ( #d3321d, #ffcf67);
  background-clip: text;
  color: transparent;
  text-shadow: none;
}

/*.hero .content .cta {
  animation: 4s appear linear infinite alternate;*/ /*animation: appear linear;
  animation-timeline: view();
  /*animation-range: entry 0 cover 25%; 
} */ /* Media Queries */ @media (max-width: 768px) {
  .hero .content h1 {
    font-size: 3em; /* Adjusted for smaller screens */
  }
  .hero .content p {
    font-size: 1.2rem; /* Adjusted for smaller screens */
  }
}
/* Display utama end */

/* Berita Utama Star */
.about,
.menu,
.products,
.contact {
  padding: 4rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.slider-content h2 span,
.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Slider */
.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

.images {
  display: flex;
  width: 100%;
  transition: 2s;
}

.images img {
  width: 100%;
}

.wrapper {
  width: 687px;
  flex: 1 1 45rem;
  overflow: hidden;
  position: relative;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

#slide-4:target ~ .images {
  margin-left: -300%;
}

.navigation a {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
}

.navigation a:hover {
  background-color: var(--primary);
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

@media screen and (max-widih: 687px) {
  .wrapper {
    width: 90%;
  }
}

/* Berita utama end */

/* Stuktur Organisasi */
.menu h2,
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Kegiatan LMK */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.container .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.container .products-container .product {
  text-align: center;
  padding: 5rem 2rem;
  background: var(--bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #666;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.container .products-container .product:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img {
  height: 25rem;
}

.container .products-container .product:hover img {
  transform: scale(0.9);
}

.container .products-container .product h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #fff;
}

.container .products-container .product:hover h3 {
  color: var(--primary);
}

.container .products-container .icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.container .products-container .product a {
  width: 4;
  height: 4;
  color: #fff;
  border-radius: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons .product a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

/* Preview Box */
.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fefefe;
  position: relative;
  margin: 2rem;
  width: 80%;
  animation: animatePreview 0.5s;
}

/* Preview Animation */
@keyframes animatePreview {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 30rem;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 1.5rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.products-preview .preview p {
  line-height: 1.3;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #444;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #444;
  border: 0.1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

/* Preview Box end */

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
 html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 60rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .preview-content {
    flex-wrap: wrap;
  }

  /* Mobile Phone */
  @media (max-width: 450px) {
    .html {
      font-size: 55%;
    }
    .slider-container {
      background-size: cover; /* Ensured cover for mobile */
      background-position: center;
    }
  }
}
