:root {
  --primary: #b6895b;
  --bg: #010101;
  --bg1: #14ff72cb;
  --secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  /* background-color: #eee; */
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--bg1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg1);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg1);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg1);
}

/* Navbar Sejajar/beranak Star */
.navbar-nav {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 80%;
  left: 0;
  background-color: rgba(1, 1, 1, 0.8);
  padding: 10px;
  min-width: 200px;
  transition: 0.2s linear;
}

.dropdown-menu a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Tanda Panah */
.dropdown-toggle::after {
  content: "\25B2"; /* kode untuk tanda panah ke atas */
  font-size: 1rem;
  margin-left: 0.5rem;
}

.dropdown-toggle.open::after {
  content: "\25BC"; /* kode untuk tanda panah ke bawah */
}
/* Navbar Sejajar/beranak End */

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Hamburger Cart Star */
.archive {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 32rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
  scroll-behavior: smooth;
  cursor: pointer;
  overflow: hidden;
}

.archive.active {
  right: 0;
}

.archive .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
  overflow: hidden;
}

.archive img {
  height: 6rem;
  border-radius: 50%;
}

.archive h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.archive .item-price {
  font-size: 1.2rem;
}

.archive.active .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
/* Hamburger end */

/* slider Hero Section Star */
.slider {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  transition: opacity 500ms;
}

.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.slider .list .item[data-show='show'] {
  opacity: 1;
}

.slider .list .item[data-show='hidden'] {
  z-index: -1;
  opacity: 0;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.2em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.slider .type span {
  color: var(--bg1);
}

.slider .action span {
  color: #000;
}

.slider .list .item .type .action {
  color: var(--primary);
}

.slider-content .slider-description {
  width: 50ch;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.slider .content p {
  margin-bottom: 2rem; 
  font-size: 1.2rem;
  line-height: 1.6;
}
/* Slider Action */
.slider .action {
  display: inline-block;
  color: white;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  padding: 0.8rem 1.5rem;
  background-color: #fff; 
  width: fit-content;
  border-radius: 2rem;
}

.slider .action1 {
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 1px 1px 8px rgba(1, 1, 3, 0.5);
  background-color: #fff; 
  width: 80px;
  height: 50px;
  border-radius: 5rem;
}

.slider .action a {
  font-size: 1.3rem;
  text-decoration: none;
}

.slider .content .action::before {
  content: '';
  background-color: var(--bg1);
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 0;
  border-radius: 2rem;
  transition: all 500ms;
}

.slider .content .action:hover::before {
  width: 100%;
}

.slider .content .action:hover {
  color: #000;
}

/* Mobile-Breakpoint */
@media screen and (max-width: 678px) {
  .slider .list .item .detail .name {
    font-size: 2.8rem;
    line-height: 2.8rem;
    }

    .slider .list .item .detail .description {
      font-size: 0.8;
    }
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.thumbnail .item .detail {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.thumbnail .item .detail .name {
  font-weight: 900;
  font-size: 0.8rem;
  text-align: right;
  font-weight: 100;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #000;
}

/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg1);
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

.loading-bar {
  width: 0%;
  height: 5px;
  background-color: var(--bg1);
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.slider.next .loading-bar,
.slider.prev .loading-bar {
  width: 100%;
  animation: loadingTime 2s linear 1 forwards;
}

@keyframes loadingTime {
  to {
    width: 0;
    z-index: 999;
  }
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .action1,
.slider .list .item:nth-child(1) .content .action {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .action {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .action {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }
  .slider .list .item .content .title {
    font-size: 50px;
  }
}
/* Slider Hero Section end */

/* Services Star */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  border-radius: 2px;
}

.service {
  background-color: #333;
  padding: 2px;
  text-align: center;
  border: 1px solid var(--bg);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0.3);
}

.service .icon {
  font-size: 2em;
}

.service a {
  display: block;
  font-size: 1em;
  color: var(--bg1);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5px;
}

.service a:hover {
  color: #fff;
}

.service p {
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  color: #fff;
}
/* Services End */

/* About Berita Utama Star */
.about,
.menu,
.products,
.contact {
 padding: 4rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.slider-content h2 span,
.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--bg1);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
  margin-top: 2rim;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 2%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Box Continue Star... */
.about .row .content .modal1-icons,
.about .row .content .modal2-icons,
.about .row .content .modal3-icons {
  display: inline-block;
  margim-top: 1rem;
  color: white;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #333; 
  width: fit-content;
  position: relative;
  isolation: isolate;
  border-radius: 0.5rem;
}

.about .row .content .modal1-icons:before,
.about .row .content .modal2-icons:before,
.about .row .content .modal3-icons:before {
  content: '';
  background-color: var(--bg1);
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 0;
  border-radius: 0.5rem;
  transition: all 500ms;
}

.about .row .content .modal1-icons:hover::before,
.about .row .content .modal2-icons:hover::before,
.about .row .content .modal3-icons:hover::before {
  width: 100%;
}

.about .row .content .modal1-icons:hover,
.about .row .content .modal2-icons:hover,
.about .row .content .modal3-icons:hover {
 color: #000;
}
/* Box Contonue End */

/* Box Media Sosial Star */
.services1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.service1 {
  background-color: #333;
  padding: 2px;
  text-align: center;
  border: 1px solid var(--bg);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0.3);
}

.service1 a {
  display: block;
  font-size: 1.2em;
  color: var(--bg1);
  text-decoration: none;
  text-align: center;
  padding: 0.5px;
}

.service1 a:hover {
  color: #fff;
}

.service1 p {
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  color: #fff;
}
/* Box Media Sosial End */

.images {
  display: flex;
  width: 100%;
  transition: 2s;
}

.images img {
  width: 100%;
}

.wrapper {
  width: 687px;
  flex: 1 1 35rem;
  overflow: hidden;
  position: relative;
  border-radius: 2%;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

#slide-4:target ~ .images {
  margin-left: -300%;
}

.navigation a {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
}

.navigation a:hover {
  background-color: var(--bg1);
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

@media screen and (max-width: 687px) {
  .wrapper {
    width: 90%;
  }
}
/* About Berita utama end */

.products h2,
.contact h2 {
  margin-bottom: 1rem;
}

.video,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.video h2 {
  margin-bottom: 0;
}

/* Kegiatan RW 08 Star */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.container .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /*30rem*/
  gap: 2rem; 
  margin-top: 2rem; 
  align-items: center;
}

.container .products-container .product {
  text-align: center;
  padding: 5rem 0.5rem;
  background: var(--bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #666;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.container .products-container .product:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img {
  height: 20rem; /*25rem*/
  border-radius: 2%;
}

.container .products-container .product:hover img {
  transform: scale(0.9);
}

.container .products-container .product h3 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #fff;
}

.container .products-container .product:hover h3 {
  color: var(--primary);
}

.container .products-container .product a {
  width: 2;
  height: 2;
  color: #fff;
  border-radius: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.1rem;
}

.products .products-container .product:hover a {
  color: var(--bg1);
}

/* Preview Box */
.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: left;
  background: #fefefe;
  position: relative;
  margin: 2rem;
  width: 80%;
  animation: animatePreview 0.5s;
}

/* Preview Animation */
@keyframes animatePreview {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 1.5rem;
  border-radius: 50%;
}

.products-preview .preview .fa-times {
  transition: transform 0.5s ease-in-out;
}

.products-preview .preview .fa-times:hover {
  background-color: var(--bg1);
  color: #000;
}

.products-preview .preview .fa-times:hover  {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.products-preview .preview p {
  line-height: 1.3;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #444;
}

.products-preview .preview h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
}

/* Item Detail */
.modal1,
.modal2,
.modal3 {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal1-container,
.modal2-container,
.modal3-container {
  position: relative; 
  background-color: #fefefe;
  color: var(--bg);
  margin: 5% auto; 
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: 80%; 
  animation: animateModal1 0.5s;
}

/* Modal Animation */
@keyframes animateModal1,
@keyframes animateModal2 {
  from {
    top: -300px;
    opacity: 0;
  }
    to {
      top: 0;
      opacity: 1;
    }
  }

.modal1-container .close-icon,
.modal2-container .close-icon,
.modal3-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal1-container .close-icon:hover,
.modal2-container .close-icon:hover,
.modal3-container .close-icon:hover {
  background-color: var(--bg1);
  color: #000;
}

.modal1-content,
.modal2-content,
.modal3-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal1-content img,
.modal2-content img,
.modal3-content img {
  weight: 30rem;
  height: 30rem;
  margin-right: 2rem;
  margim-bottom: 2rem;
}

.modal1-content h3,
.modal2-content h3,
.modal3-content h3 {
  font-size: 1.8rem;
}

.modal1-content p,
.modal2-content p,
.modal3-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.modal1-content h4,
.modal2-content h4,
.modal3-content h4 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
  .about .modal3-content {
    width: 100%;
  }
  .about .content {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .about h2 {
    font-size: 18px;
  }
  .about .content {
    font-size: 14px;
  }
}

/* Video Youtube */
.video {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
  z-index: 9999;
}

.video {
  width: 100%; 
  height: auto; 
  margin: 20px auto; 
}

.video iframe {
  width: 100%; 
  height: 500px; 
  border: none; 
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  z-index: 9999;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
 }

 .contact .row form .input-group pesan {
  padding: 2rem 5rem;
  field-sizing: content;
  min-block-size: 3.5rlh;
  min-inline-size: 23ch;
  max-inline-size: 50ch:
 }
 
.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--bg1);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .histats_counter {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .links {
  margin-bottom: 0.5rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 500;
}

/* PopUp Subscribe */
.powr-popup {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
 html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
  }
  
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    min-width: 200px;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 35rem; /*revisian*/
    object-fit: cover;
    object-position: center;
    padding: 20px;
    gap: 10px;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 35rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .preview-content {
    flex-wrap: wrap;
  }

  .modal1-content p,
  .modal2-content p,
  .modal2-content p {
    flex-wrap: wrap;
    width: 80%;
  }

  
  .video {
    width: 100%;
    padding: 10px;
  }
  .video iframe {
    height: 300px;
  }


   /* Mobile Phone */
  @media (max-width: 450px) {
    .html {
      font-size: 45%;
    }

  .slider-container {
      background-size: cover; /* Ensured cover for mobile */
      background-position: center;
    }

    .products-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .video {
      width: 100%;
      padding: 5px;
    }
    .video iframe {
      height: 200px;
    }
  }
}


