h4 {
  text-align: center;
  margin-bottom: 8px;
  color: #333;
}

p {
    text-align: center;
    margin-top: 4px;
    color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

#totalPrice {
  font-weight: bold;
}

th {
  background: #eee;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

table td:last-child {
  text-align: right;
}

.table-responsive {
  overflow-x: auto;   /* scroll horizontal */
  -webkit-overflow-scrolling: touch; /* smooth scroll di iOS */
}

#donationTable {
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 600px) {
  table#donationTable {
    width: auto;          /* jangan full width */
    margin: 0 auto;       /* posisikan di tengah */
    display: table;       /* pastikan tetap table */
  }
}

.sharethis-inline-share-buttons {
  margin-top: 20px; /* Atur sesuai kebutuhan */
}


/* Agar tabel selalu berada di tengah */
    #donationTableWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    table {
      margin: 0 auto; /* fallback */
    }

    /* Pada layar kecil, pastikan tabel tidak melebar */
    @media (max-width: 600px) {
      table {
        width: 90%;   /* agar tetap responsif */
      }
    }

    








