:root {
  --primary: #b6895b;
  --bg: #eaeaea;
  --bg1: #28c76f;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


/* Video Youtube Star */
.video {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  z-index: 9999;
  border-radius: 5%;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  margin: 0 auto;
  max-width: 800px;
}

.video-wrapper iframe {
  width: 100%;
  max-width: 640px;
  height: 360px;
  border: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
}

.video-description {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .video-wrapper iframe {
    height: 240px;
    max-width: 100%;
  }
}
/* Video Youtube End */

